{% extends 'blog/base.html' %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-12 mx-md-auto mx-3 mt-5 mb-5">
			<h1 class="fw-bolder">Posts em Destaque</h1>
			<h5 class="text-muted">Dê uma olhada nos posts em destaque</h5>
		</div>
	</div>

	{% for object in object_list %}
	<div class="row">
		<div class="col-md-6 col-11 mx-md-auto mx-3 mt-5 mb-5">
			<h3 class="fw-bold">{{ object.title }}</h3>
			<p class="text-muted"> {{ object.date }}</p>
			<p class="text-muted">Postado por {{ object.author.username }}</p>
			{% if object.likes.count == 1 %}
				<p class="text-muted">{{ object.likes.count }} pessoa curtiu este post</p>
			{% else %}
				<p class="text-muted">{{ object.likes.count }} pessoas curtiram este post</p>
			{% endif %}

			<div class="my-3">
				{{ object.content|truncatewords_html:50|safe }}
			</div>

			<a href="{% url 'detail_article' object.id %}">Leia mais</a>
		</div>
	</div>
	{% endfor %}

	<nav>
		<ul class="pagination">
			<div class="mx-auto d-flex flex-row mt-5">
				{% if page_obj.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page=1">&laquo; Primeira</a>
					</li>

					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
					</li>
				{% endif %}

				<li class="page-item">
					<a class="page-link" href="#">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</a>
				</li>

				{% if page_obj.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
					</li>
				{% endif %}
			</div>
		</ul>
	</nav>
{% endblock content %}
